$icon-size: 30px;
$icon-container-width: 40px;

#bottom-bar-container {
    /* direct properties defined in main.scss */
    .add-note-btn, 
    .invert-colors-btn {
        height: 100%;
        width: 40px;
        display: inline-flex;
        i {
            width: 100%;
            font-size: $icon-size;
        }
    }
}
