<div id="all-notes-container">
    <div class="no-notes-container full-width text-center en-btn" ng-if="!notes.filteredNotes.length">
        <h3 class="no-notes go-right" 
        ng-show="search.isSearching" ng-class="componentColor()">There are no results for this search</h3>
        <h3 class="no-notes go-left" 
        ng-show="!search.isSearching" ng-class="componentColor()">You have no notes yet</h3>
    </div>
    <div class="all-notes" ng-if="notes.filteredNotes.length">
        <div class="note-container full-width" ng-repeat="note in notes.filteredNotes">
            <!-- delete -->
            <button class="note-delete en-btn pull-left" vibrate
            ng-class="componentColor()" 
            ng-click="delete(note)"><i class="fi-x"></i></button>
            <!-- title/open -->
            <button class="note-select en-btn" vibrate 
            ng-click="select(note)" 
            ng-class="componentColor()" 
            ng-bind="note.title || 'Untitled'"></button>
        </div>
    </div>
</div>
