#note-container {
    height: 100%;
    padding: 50px;

    .note {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 36px;
        color: $very-light-grey-color;
        display: inline-block;

        &.title-container {
            margin-bottom: 25px;
        }
        &.content-container {
            .content {
                height: 75%;
            }
            .en-btn {
                padding-left: 15px; /* to equal bootstrap column */
            }
        }
    }

    .title-container, 
    .content-container {
        width: 100%;
    }

    .title, 
    .content {
        background: none;
        border: none;

        &:focus {
            outline: none;
        }
    }
}
