<div class="modal-container" outside-click ng-show="modal.config.isShowing">
    <div class="modal-content"  
    ng-class="backgroundColor()">
        <p class="modal-text text-center" 
        ng-class="componentColor()" ng-bind-html="modal.config.text"></p>
        <div class="options">
            <button class="pull-left en-btn cancel-btn" vibrate 
            ng-class="componentColor()" 
            ng-click="modal.hide()"><i class="fi-x"></i></button>
            <button class="pull-right en-btn accept-btn" vibrate 
            ng-class="componentColor()" 
            ng-click="accept()"><i class="fi-check"></i></button>
        </div>
    </div>
</div>
