$bottom-bar-size: 50px;
$delete-icon-size: 20px;
$bottom-icon-size: 35px;
$font-size: 20px;

#all-notes-container {
    padding: 10px 15px 0px 15px;
    user-select: none;
    height: calc(100% - 10px);

    .all-notes {
        height: calc(100% - #{$bottom-bar-size});
        overflow: auto;
        .note-container {
            min-height: 50px;
            display: flex;
            button.note-select {
                font-family: monospace;
                text-align: left;
                margin-left: 20px;
                font-size: $font-size;
                width: 100%;
                word-break: break-all;
                overflow-wrap: break-word;
            }
            button.note-delete {
                align-items: stretch;
                width: 15px;
                i {
                    font-size: $delete-icon-size;
                }
            }
        } 
    }


    .add-note-container {
        height: $bottom-bar-size;
        bottom: 0px;
        left: 0px; 
        right: 0px;
        position: absolute;
        padding: 0px 15px;
        button.add-note {
            i {
                font-size: $bottom-icon-size;
            }
        }
        button.invert-colors {
            i {
                font-size: $bottom-icon-size;
            }
        }
    }
}
