.en-btn {
    color: $very-light-grey-color;
    background: none;
    border: none;

    &.bordered {
        border: 2px solid $very-light-grey-color;
    }

    &.circle {
        border-radius: 50%;
    }

    &:focus {
        outline: none;
    }
}
