$common-distance: 15px;

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.text-center {
    text-align: center !important;
}

.ib {
    display: inline-block;
}

.block {
    display: block;
}

.mono {
    font-family: monospace;
}
