$icon-size: 30px;
$bottom-bar-size: 50px;
$font-size: 16px;
$title-size: 25px;

#note-container {
    height: 100%;
    padding: 15px 15px 0px 15px;
    font-family: monospace;
    height: 100%;

    i {
        font-size: $icon-size;
    }
    .note-title-container {
        height: 10%;
        display: flex;
        .title {
            color: $water-green-color;
            font-weight: bold;
            text-align: center;
            font-size: $title-size;
        }
    }
    .note-content-container {
        height: 90%;
        textarea.content {
            height: calc(100% - #{$bottom-bar-size});
        }
        .btns-wrapper {
            user-select: none;
            height: $bottom-bar-size;
            position: absolute;
            bottom:0; right:0; left:0;
            .pull-right {
                position: absolute;
                right: 15px;
            }
            .pull-left {
                position: absolute;
                left: 15px;
            }
        }
    }

    .title, 
    .content {
        background: none;
        border: none;
        font-size: $font-size;
        &:focus {
            outline: none;
        }
    }
}
