$icon-size: 30px;
$bottom-bar-size: 40px;
$font-size: 16px;
$title-size: 25px;

#note-container {
    height: 100%;
    padding: 0px 15px 0px 15px;
    font-family: monospace;

    i {
        font-size: $icon-size;
    }
    .note-title-container {
        height: 10%;
        display: flex;
        .title {
            width: 100%;
            color: $water-green-color;
            font-weight: bold;
            text-align: center;
            font-size: $title-size;
        }
    }
    .note-content-container {
        width: 100%;
        .content-count {
            position: absolute;
            margin-top: -15px; /* ugly, but am not sorry */
            right: 15px;
        }
        height: 90%;
        textarea.content {
            width: calc(100%);
            height: calc(100% - #{$bottom-bar-size} - 10px);
        }
        .btns-wrapper {
            user-select: none;
            height: $bottom-bar-size;
            position: absolute;
            bottom:0; right:0; left:0;
            .pull-right {
                position: absolute;
                right: 15px;
            }
            .pull-left {
                position: absolute;
                left: 15px;
            }
        }
    }

    .title, 
    .content {
        background: none;
        border: none;
        font-size: $font-size;
        &:focus {
            outline: none;
        }
    }
}
