<div id="note-container" class="container">
    <div class="note-title-container row">
        <!-- title -->
        <input class="title col-xs-12" type="text" name="selectionTitle" placeholder="Title"  
        ng-model="selection.note.title" 
        ng-readonly="readOnly"
        ng-change="modified()">
    </div>
    <div class="note-content-container row">
        <!-- content -->
        <textarea class="content col-xs-12" placeholder="Content" autofocus 
        ng-class="componentColor()" 
        ng-model="selection.note.content" 
        ng-readonly="readOnly"
        ng-change="modified()"></textarea>
        <div class="btns-wrapper col-xs-12 text-center">
            <!-- back -->
            <button class="en-btn pull-left" 
            ng-class="componentColor()" 
            ng-click="back()"><i class="fi-arrow-left"></i></button>
            <!-- share -->
            <button class="en-btn" 
            ng-class="componentColor()" 
            ng-click="share()"><i class="fi-share"></i></button>
            <!-- edit/view -->
            <button class="en-btn pull-right" 
            ng-class="componentColor()" 
            ng-click="readOnly = !readOnly">
                <i class="fi-pencil" ng-if="readOnly"></i>
                <i class="fi-eye" ng-if="!readOnly"></i>
            </button>
        </div>
    </div>
</div>
